<a href="https://colab.research.google.com/github/Teeneswari/23CSBTB30/blob/main/Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
[]

## Implement Basic Datastructures using Numpy,pandas

In [6]:
lst={2:4,4:16,6:36,8:64}
print(lst)
print(type(lst))

{2: 4, 4: 16, 6: 36, 8: 64}
<class 'dict'>



> Add blockquote


> Add blockquote

In [8]:
lst=(2,4,6,8)
print(lst)
print(type(lst))

(2, 4, 6, 8)
<class 'tuple'>

In [9]:
lst={2,4,6,8}
print(lst)
print(type(lst))

{8, 2, 4, 6}
<class 'set'>

In [10]:
lst=[2,4,6,8]
print(lst)
print(type(lst))

[2, 4, 6, 8]
<class 'list'>

In [11]:
lst={1:"Apple",2:"BAnana",3:"Orange"}
print(lst)
print(type(lst))

{1: 'Apple', 2: 'BAnana', 3: 'Orange'}
<class 'dict'>

In [12]:
lst="Welcome to AIML Lab"
print(lst)
print(type(lst))

Welcome to AIML Lab
<class 'str'>

In [13]:
lst=3.4
print(lst)
print(type(lst))

3.4
<class 'float'>

In [14]:
lst=2j+6
print(lst)
print(type(lst))

(6+2j)
<class 'complex'>

Arrays

In [16]:
import numpy as np
arry=np.array([2+4])
print(arry)
print(type(arry))

[6]
<class 'numpy.ndarray'>

In [15]:
import numpy as np
arry=np.array([1,2,3,4,5])
print(arry)
print(type(arry))

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [17]:
import numpy as np
arry=np.array([3-1])
print(arry)
print(type(arry))

[2]
<class 'numpy.ndarray'>

In [18]:
import numpy as np
arry=np.array([4*5])
print(arry)
print(type(arry))

[20]
<class 'numpy.ndarray'>

In [19]:
import numpy as np
arry=np.array([8%2])
print(arry)
print(type(arry))

[0]
<class 'numpy.ndarray'>

In [22]:
import pandas as pd
arry=pd.array([1,2,3,4,5])
print(arry)
print(type(arry))

<IntegerArray>
[1, 2, 3, 4, 5]
Length: 5, dtype: Int64
<class 'pandas.core.arrays.integer.IntegerArray'>

In [23]:
import numpy as np
array1 = np.array([1, 2, 3])
array2 = np.array([4, 5, 6])
result = array1 + array2
output = f"Addition of Two:\n{array1} + {array2} = {result}"
print(output)

Addition of Two:
[1 2 3] + [4 5 6] = [5 7 9]

In [24]:
import numpy as np
values = np.array([0, np.pi / 2, np.pi])
sine_values = np.sin(values)
log_values = np.log(np.array([1, np.e, np.e**2]))
log2_values = np.log2(np.array([1, 2, 4, 8]))
exp_values = np.exp(np.array([0, 1, 2]))
print("Sine values:", sine_values)
print("Natural logarithm values:", log_values)
print("Base-2 logarithm values:", log2_values)
print("Exponential values:", exp_values)

Sine values: [0.0000000e+00 1.0000000e+00 1.2246468e-16]
Natural logarithm values: [0. 1. 2.]
Base-2 logarithm values: [0. 1. 2. 3.]
Exponential values: [1.         2.71828183 7.3890561 ]